{:deps {org.clojars.darkleaf/di
        {:git/url "https://github.com/darkleaf/di.git"
         :sha     "ce41a37e7217c30886535fc0588bc6e452ce93c6"}
        org.clojars.darkleaf/web-templates
        {:git/url "https://github.com/darkleaf/web-template.git"
         :sha     "a84eef73e1d92d511c92c08da154da8b0d7a7fb7"}

        ring/ring-core             {:mvn/version "1.9.5"}
        ring/ring-jetty-adapter    {:mvn/version "1.9.5"}
        metosin/ring-http-response {:mvn/version "0.9.3"}}}
